<div id="webchat"></div>
<script src="https://cdn.jsdelivr.net/npm/rasa-webchat/lib/index.min.js"></script>
<script>
  !(function () {
    sessionStorage.clear();
    localStorage.clear();
    let e = document.createElement("script"),
      t = document.head || document.getElementsByTagName("head")[0];
    e.src = "https://cdn.jsdelivr.net/npm/rasa-webchat/lib/index.js";
    e.async = !0;
    e.onload = () => {
      window.WebChat.default(
        {
          customData: {language: "pl"},
          socketUrl: "https://botfront-rasa.dialog-research.ml/",
          showMessageDate: true,
          title: "Katedra Inteligencji Obliczeniowej",
          subtitle: "Asystent",
          socketPath: "/socket.io",
          initPayload: "/greeting",
          params: {"storage": "session"}
        },
        null
      );
    };
    t.insertBefore(e, t.firstChild);
  })();
</script>
